APIResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="APIResponse" type="APIResponse" />

	<xs:complexType name="APIResponse">
		<xs:all>
			<xs:element name="Header" type="Header" />
			<xs:element name="Body" type="Body" />
		</xs:all>
		<xs:attribute name="version" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="Header">
		<xs:all>
			<xs:element name="Date" type="xs:string" />
			<xs:element name="Path" type="xs:string" />
			<xs:element name="ErrorCode" type="xs:int" />
			<xs:element name="ErrorMessage" type="xs:string" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="Body">
		<xs:all>
			<xs:element name="Result" maxOccurs="1" minOccurs="0"
				type="xs:string" />

			<!--TODO deprecate SurchageAmount-->
			<xs:element name="SurchageAmount" maxOccurs="1" minOccurs="0"
				type="xs:double" />

			<xs:element name="SurchargeAmount" maxOccurs="1" minOccurs="0"
						type="xs:double" />
			<xs:element name="PaReq" maxOccurs="1" minOccurs="0"
			            type="xs:string" />
			<xs:element name="RedirectUrl" maxOccurs="1" minOccurs="0"
			            type="xs:string" />
			<xs:element name="RedirectResponse" maxOccurs="1" minOccurs="0"
						type="RedirectResponse" />
			<xs:element name="Transactions" type="Transactions"
				maxOccurs="1" minOccurs="0" />
            <xs:element name="Actions" type="Actions"
                        maxOccurs="1" minOccurs="0" />
			<xs:element name="MerchantErrorMessage" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="CardHolderErrorMessage" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="CardHolderMessageMustBeShown" type="xs:boolean" maxOccurs="1" minOccurs="0" />
			<xs:element name="CaptureAmount" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="CaptureCurrency" maxOccurs="1"
				minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CaptureResult" maxOccurs="1" minOccurs="0"
				type="xs:string" />
			<xs:element name="Status" type="xs:string" maxOccurs="1"
				minOccurs="0">
			</xs:element>
			<xs:element name="PreauthAmount" type="xs:double"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="RefundedAmount" type="xs:double"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="RefundCurrency" maxOccurs="1"
				minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RefundResult" maxOccurs="1" minOccurs="0"
				type="xs:string" />
			<xs:element name="CancelResult" maxOccurs="1" minOccurs="0"
				type="xs:string" />
			<xs:element name="SplitResult" maxOccurs="1" minOccurs="0"
				type="xs:string" />
			<xs:element name="ResultFilter" type="ResultFilter"
				maxOccurs="1" minOccurs="0" />
            <xs:element name="PaymentRequestId" type="xs:string" maxOccurs="1" minOccurs="0"/>
			<xs:element name="Url" type="xs:string" maxOccurs="1"
				minOccurs="0"/>
			<xs:element name="DynamicJavascriptUrl" type="xs:string" maxOccurs="1"
			            minOccurs="0"/>
			<xs:element name="RecurringDefaultAmount" type="xs:double" maxOccurs="1" minOccurs="0" />
			<xs:element name="GiftCard" type="GiftCard" maxOccurs="1" minOccurs="0" />
			<xs:element name="Fundings" type="Fundings" maxOccurs="1" minOccurs="0" />
            <xs:element name="Accounts" type="Accounts" maxOccurs="1" minOccurs="0" />
            <xs:element name="Terminals" type="Terminals" maxOccurs="1" minOccurs="0" />
			<xs:element name="ApplePaySession" type="xs:string" maxOccurs="1" minOccurs="0" />
		</xs:all>
	</xs:complexType>

    <xs:complexType name="Actions">
        <xs:sequence>
            <xs:element name="Action" type="Action" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Action">
        <xs:all>
            <xs:element name="Result" maxOccurs="1" minOccurs="0"
                        type="xs:string" />
            <xs:element name="MerchantErrorMessage" type="xs:string"
                        maxOccurs="1" minOccurs="0">
            </xs:element>
            <xs:element name="CardHolderErrorMessage" type="xs:string"
                        maxOccurs="1" minOccurs="0">
            </xs:element>
            <xs:element name="Transactions" type="Transactions"
                        maxOccurs="1" minOccurs="0" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="ResultFilter">
		<xs:sequence>
			<xs:element name="ShopEquals" type="xs:string" maxOccurs="1"
				minOccurs="0">
			</xs:element>
			<xs:element name="TerminalEquals" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="TransactionIdEquals" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="ShopOrderIdEquals" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="PaymentStatusEquals" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="ReconciliationIdentifierEquals" type="xs:string"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="AcquirerReconciliationIdentifierEquals" type="xs:string"
				maxOccurs="1" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Transactions">
		<xs:sequence>
			<xs:element name="Transaction" type="Transaction" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Terminals">
		<xs:sequence>
			<xs:element name="Terminal" type="Terminal" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Terminal">
		<xs:all>
			<xs:element name="Title" type="xs:string" />
			<xs:element name="Country" type="xs:string" />
			<xs:element name="Natures" type="Natures" maxOccurs="1" minOccurs="0" />
			<xs:element name="Currencies" type="Currencies" maxOccurs="1" minOccurs="0" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="Currencies">
		<xs:sequence>
			<xs:element name="Currency" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Natures">
		<xs:sequence>
			<xs:element name="Nature" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Fundings">
		<xs:sequence>
			<xs:element name="Funding" type="Funding" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="numberOfPages" type="xs:int" />
	</xs:complexType>

	<xs:complexType name="RedirectResponse">
		<xs:all>
			<xs:element name="Url" type="xs:string" />
			<xs:element name="Method" type="xs:string" />
			<xs:element name="Data" type="RedirectResponseData" />
			<xs:element name="FlowType" type="xs:string" minOccurs="0" maxOccurs="1"  />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="RedirectResponseData">
		<xs:sequence>
			<xs:element name="Item" type="RedirectResponseDataItem" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RedirectResponseDataItem">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="key" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="GiftCard">
		<xs:all>
			<xs:element name="AccountIdentifier" type="xs:string" />
			<xs:element name="AccountAuthenticator" type="xs:string" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="Funding">
		<xs:all>
			<xs:element name="Filename" type="xs:string" />
			<xs:element name="ContractIdentifier" type="xs:string" />
			<xs:element name="Shops" type="Shops" maxOccurs="1" minOccurs="0" />
			<xs:element name="Acquirer" type="xs:string" />
			<xs:element name="FundingDate" type="xs:date" />
			<xs:element name="Amount" type="xs:string" />
			<xs:element name="CreatedDate" type="xs:date" />
			<xs:element name="ReferenceText" type="xs:string" />
			<xs:element name="AccountNumber" type="xs:string" />
			<xs:element name="DownloadLink" type="xs:string" />
		</xs:all>
	</xs:complexType>

    <xs:complexType name="Accounts">
        <xs:sequence>
            <xs:element name="Account" type="Account" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Account">
        <xs:all>
            <xs:element name="Currency" type="xs:string" />
            <xs:element name="Balance" type="xs:string" />
        </xs:all>
    </xs:complexType>

	<xs:complexType name="Shops">
		<xs:sequence>
			<xs:element name="Shop" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ChargebackEvent">
		<xs:all>
			<xs:element name="Date" type="xs:string" />
			<xs:element name="Type" type="xs:string" />
			<xs:element name="ReasonCode" type="xs:string" />
			<xs:element name="Reason" type="xs:string" />
			<xs:element name="Amount" type="xs:string" />
			<xs:element name="Currency" type="xs:string" />
			<xs:element name="AcquirerTransactionId" type="xs:string" />
			<xs:element name="AdditionalInfo" type="xs:string" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ChargebackEvents">
		<xs:sequence>
			<xs:element name="ChargebackEvent" type="ChargebackEvent" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Transaction">
		<xs:all>
			<xs:element name="TransactionId" type="xs:string" />
			<xs:element name="PaymentId" type="xs:string" />
			<xs:element name="AuthType" type="xs:string" />
			<xs:element name="CardStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NoCreditCard" />
						<xs:enumeration value="InvalidLuhn" />
						<xs:enumeration value="InvalidCardLength" />
						<xs:enumeration value="SoonExpired" />
						<xs:enumeration value="Expired" />
						<xs:enumeration value="Valid" />
						<xs:enumeration value="DeletedPan" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreditCardExpiry" type="CreditCardExpiry" maxOccurs="1" minOccurs="0" />
			<xs:element name="CreditCardToken" type="xs:string" />
			<xs:element name="CreditCardMaskedPan">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([\d\*]*)" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IsTokenized" type="xs:boolean" />
			<xs:element name="GiftCardToken" type="xs:string" maxOccurs="1" minOccurs="0" />
            <xs:element name="MaskedGiftCard" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="ThreeDSecureResult">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Not_Applicable" />
						<xs:enumeration value="Disabled" />
						<xs:enumeration value="Not_Attempted" />
						<xs:enumeration value="CardType_Not_Supported" />
						<xs:enumeration value="Not_Enrolled" />
						<xs:enumeration value="Declined" />
						<xs:enumeration value="Error" />
						<xs:enumeration value="Attempted" />
						<xs:enumeration value="Successful" />
						<xs:enumeration value="Successful_Forced_Merchant_Liability" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LiableForChargeback" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="CVVCheckResult">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Not_Applicable" />
						<xs:enumeration value="Not_Attempted" />
						<xs:enumeration value="Unknown" />
						<xs:enumeration value="Matched" />
						<xs:enumeration value="MisMatched" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BlacklistToken" type="xs:string" />
			<xs:element name="ShopOrderId" type="xs:string" />
			<xs:element name="Shop" type="xs:string" />
			<xs:element name="Terminal" type="xs:string" />
			<xs:element name="TransactionStatus" type="xs:string" />
			<xs:element name="ReasonCode" type="xs:string" />
			<xs:element name="CardHolderMessageMustBeShown" type="xs:boolean" maxOccurs="1" minOccurs="0" />
			<xs:element name="MerchantCurrency">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MerchantCurrencyAlpha">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CardHolderCurrency">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CardHolderCurrencyAlpha">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReservedAmount" type="xs:double" />
			<xs:element name="CapturedAmount" type="xs:double" />
			<xs:element name="RefundedAmount" type="xs:double" />
			<xs:element name="CreditedAmount" type="xs:double" />
			<xs:element name="RecurringDefaultAmount" type="xs:double" />
            <xs:element name="SurchargeAmount" type="xs:double" />
			<xs:element name="CreatedDate">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern
							value="\d{4}-[01]\d-[0123]\d [012]\d:[012345]\d:[012345]\d" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UpdatedDate">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern
							value="\d{4}-[01]\d-[0123]\d [012]\d:[012345]\d:[012345]\d">
						</xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentNature">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Wallet" />
						<xs:enumeration value="EPayment" />
						<xs:enumeration value="CreditCard" />
						<xs:enumeration value="BankPayment" />
						<xs:enumeration value="IdealPayment" />
						<xs:enumeration value="Invoice" />
						<xs:enumeration value="CreditCardWallet" />
						<xs:enumeration value="GiftCard" />
						<xs:enumeration value="Mobile" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentSource">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="eCommerce" />
						<xs:enumeration value="eCommerce_without3ds" />
						<xs:enumeration value="moto" />
						<xs:enumeration value="mobi" />
						<xs:enumeration value="mail_order" />
						<xs:enumeration value="telephone_order" />
						<xs:enumeration value="epayment" />
						<xs:enumeration value="bankpayment" />
						<xs:enumeration value="pos" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentSchemeName" type="xs:string"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="PaymentNatureService"
				type="PaymentNatureService" />
			<xs:element name="FraudRiskScore" type="xs:double"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="FraudExplanation" type="xs:string"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="FraudRecommendation" type="xs:string"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="AddressVerification" maxOccurs="1"
				minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressVerificationDescription"
				type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="ChargebackEvents"
				type="ChargebackEvents" maxOccurs="1" minOccurs="0" />
			<xs:element name="PaymentInfos" type="PaymentInfos" />
			<xs:element name="CustomerInfo" type="CustomerInfo"
				maxOccurs="1" minOccurs="0">
			</xs:element>
            <xs:element name="InvoiceOrderInfo" type="InvoiceOrderInfo" maxOccurs="1" minOccurs="0" />
			<xs:element name="ReconciliationIdentifiers"
				type="ReconciliationIdentifiers" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="PaymentNatureService">
		<xs:all>
			<xs:element name="SupportsRefunds">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true" />
						<xs:enumeration value="false" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupportsRelease">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true" />
						<xs:enumeration value="false" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupportsMultipleCaptures">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true" />
						<xs:enumeration value="false" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupportsMultipleRefunds">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true" />
						<xs:enumeration value="false" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
		<xs:attribute name="name" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="PaymentInfos">
		<xs:sequence>
			<xs:element name="PaymentInfo" type="PaymentInfo"  minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PaymentInfo">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="CustomerInfo">
		<xs:all>
			<xs:element name="UserAgent" type="xs:string" maxOccurs="1"
				minOccurs="0" />
			<xs:element name="IpAddress" type="xs:string" maxOccurs="1"
				minOccurs="0" />
			<xs:element name="Email" type="xs:string" maxOccurs="1"
				minOccurs="0">
			</xs:element>
			<xs:element name="Username" type="xs:string" maxOccurs="1"
				minOccurs="0">
			</xs:element>
			<xs:element name="CustomerPhone" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="OrganisationNumber" type="xs:string" maxOccurs="1"
				minOccurs="0">
			</xs:element>
			<xs:element name="CompanyName" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="CompanyType" type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="CountryOfOrigin" type="CountryOfOrigin" maxOccurs="1" minOccurs="0" />
			<xs:element name="Gender" maxOccurs="1" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="M" />
						<xs:enumeration value="F" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BillingAddress" type="CustomerInfoAddress" maxOccurs="1" minOccurs="0" />
			<xs:element name="ShippingAddress" type="CustomerInfoAddress" maxOccurs="1" minOccurs="0" />
			<xs:element name="RegisteredAddress" type="CustomerInfoAddress" maxOccurs="1" minOccurs="0" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="CountryOfOrigin">
		<xs:all>
			<xs:element name="Country" type="xs:string" />
			<xs:element name="Source">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NotSet" />
						<xs:enumeration value="CardNumber" />
						<xs:enumeration value="BankAccount" />
						<xs:enumeration value="BillingAddress" />
						<xs:enumeration value="RegisteredAddress" />
						<xs:enumeration value="ShippingAddress" />
						<xs:enumeration value="PayPal" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ReconciliationIdentifiers">
		<xs:sequence>
			<xs:element name="ReconciliationIdentifier" type="ReconciliationIdentifier" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ReconciliationIdentifier">
		<xs:all>
			<xs:element name="Id" type="xs:string" />
			<xs:element name="Amount" type="AmountWithCurrency" />
			<xs:element name="Type" type="xs:string" />
			<xs:element name="Date" type="xs:string" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="AmountWithCurrency">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="currency">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="CreditCardExpiry">
		<xs:all>
			<xs:element name="Year" type="xs:int" />
			<xs:element name="Month" type="xs:int" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="CustomerInfoAddress">
		<xs:sequence>
			<xs:element name="Firstname" type="xs:string" />
			<xs:element name="Lastname" type="xs:string" />
			<xs:element name="Address" type="xs:string" />
			<xs:element name="City" type="xs:string" />
			<xs:element name="Region" type="xs:string" />
			<xs:element name="Country" type="xs:string" />
			<xs:element name="PostalCode" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
    <xs:complexType name="InvoiceOrderInfo">
        <xs:sequence>
            <xs:element name="billingAddress" type="InvoiceAddress" />
            <xs:element name="paymentMethod" type="paymentMethod"/>
            <xs:element name="currency" type="xs:string"/>
            <xs:element name="orderAmount" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoiceAddress">
        <xs:sequence>
            <xs:element name="givenName" type="xs:string" />
            <xs:element name="familyName" type="xs:string" />
            <xs:element name="email" type="xs:string" />
            <xs:element name="phone" type="xs:string" />
            <xs:element name="streetAddress" type="xs:string" />
            <xs:element name="region" type="xs:string" />
            <xs:element name="postalCode" type="xs:string" />
            <xs:element name="country" type="xs:string" />
            <xs:element name="city" type="xs:string" />
            <xs:element name="att" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="paymentMethod">
        <xs:sequence>
            <xs:element name="type" type="xs:string" />
            <xs:element name="description" type="xs:string" />
            <xs:element name="numberOfInstallments" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
