APIResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="APIResponse" type="APIResponse" />

	<xs:complexType name="APIResponse">
		<xs:all>
			<xs:element name="Header" type="Header" />
			<xs:element name="Body" type="Body" />
		</xs:all>
		<xs:attribute name="version" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="Header">
		<xs:all>
			<xs:element name="Date" type="xs:string" />
			<xs:element name="Path" type="xs:string" />
			<xs:element name="ErrorCode" type="xs:int" />
			<xs:element name="ErrorMessage" type="xs:string" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="Body">
		<xs:all>
			<xs:element name="Result" maxOccurs="1" minOccurs="0"
				type="xs:string" />
			<xs:element name="SurchageAmount" maxOccurs="1" minOccurs="0"
				type="xs:double" />
			<xs:element name="Transactions" type="Transactions"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="MerchantErrorMessage" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="CardHolderErrorMessage" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="CaptureAmount" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="CaptureCurrency" maxOccurs="1"
				minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CaptureResult" maxOccurs="1" minOccurs="0"
				type="xs:string" />
			<xs:element name="Status" type="xs:string" maxOccurs="1"
				minOccurs="0">
			</xs:element>
			<xs:element name="PreauthAmount" type="xs:double"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="RefundedAmount" type="xs:double"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="RefundCurrency" maxOccurs="1"
				minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RefundResult" maxOccurs="1" minOccurs="0"
				type="xs:string" />
			<xs:element name="CancelResult" maxOccurs="1" minOccurs="0"
				type="xs:string" />
			<xs:element name="SplitResult" maxOccurs="1" minOccurs="0"
				type="xs:string" />
			<xs:element name="ResultFilter" type="ResultFilter"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="Url" type="xs:string" maxOccurs="1"
				minOccurs="0">
			</xs:element>
			<xs:element name="RecurringDefaultAmount" type="xs:double" maxOccurs="1" minOccurs="0"></xs:element>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ResultFilter">
		<xs:sequence>
			<xs:element name="ShopEquals" type="xs:string" maxOccurs="1"
				minOccurs="0">
			</xs:element>
			<xs:element name="TerminalEquals" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="TransactionIdEquals" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="ShopOrderIdEquals" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="PaymentStatusEquals" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="ReconciliationIdentifierEquals" type="xs:string" 
				maxOccurs="1" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Transactions">
		<xs:sequence>
			<xs:element name="Transaction" type="Transaction" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ChargebackEvent">
		<xs:all>
			<xs:element name="Date" type="xs:string" />
			<xs:element name="CaseType" type="xs:string" />
			<xs:element name="Amount" type="xs:string" />
			<xs:element name="Currency" type="xs:string" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="ChargebackEvents">
		<xs:sequence>
			<xs:element name="ChargebackEvent" type="ChargebackEvent" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	

	<xs:complexType name="Transaction">
		<xs:all>
			<xs:element name="TransactionId" type="xs:string"></xs:element>
			<xs:element name="AuthType" type="xs:string" />
			<xs:element name="CardStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NoCreditCard" />
						<xs:enumeration value="InvalidLuhn" />
						<xs:enumeration value="InvalidCardLength" />
						<xs:enumeration value="SoonExpired" />
						<xs:enumeration value="Expired" />
						<xs:enumeration value="Valid" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CreditCardExpiry" type="CreditCardExpiry" maxOccurs="1" minOccurs="0" />
			<xs:element name="CreditCardToken" type="xs:string" />
			<xs:element name="CreditCardMaskedPan">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="([\d\*]*)" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ThreeDSecureResult">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Not_Applicable" />
						<xs:enumeration value="Disabled" />
						<xs:enumeration value="Not_Attempted" />
						<xs:enumeration value="CardType_Not_Supported" />
						<xs:enumeration value="Not_Enrolled" />
						<xs:enumeration value="Declined" />
						<xs:enumeration value="Error" />
						<xs:enumeration value="Attempted" />
						<xs:enumeration value="Successful" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="BlacklistToken" type="xs:string" />
			<xs:element name="ShopOrderId" type="xs:string" />
			<xs:element name="Shop" type="xs:string" />
			<xs:element name="Terminal" type="xs:string" />
			<xs:element name="TransactionStatus" type="xs:string" />
			<xs:element name="MerchantCurrency">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CardHolderCurrency">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReservedAmount" type="xs:double" />
			<xs:element name="CapturedAmount" type="xs:double" />
			<xs:element name="RefundedAmount" type="xs:double" />
			<xs:element name="RecurringDefaultAmount" type="xs:double" />
			<xs:element name="CreatedDate">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern
							value="\d{4}-[01]\d-[0123]\d [012]\d:[012345]\d:[012345]\d" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UpdatedDate">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern
							value="\d{4}-[01]\d-[0123]\d [012]\d:[012345]\d:[012345]\d">
						</xs:pattern>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentNature">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Wallet" />
						<xs:enumeration value="EPayment" />
						<xs:enumeration value="CreditCard" />
						<xs:enumeration value="BankPayment" />
						<xs:enumeration value="IdealPayment" />
						<xs:enumeration value="Invoice" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PaymentSchemeName" type="xs:string"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="PaymentNatureService"
				type="PaymentNatureService" />
			<xs:element name="FraudRiskScore" type="xs:double"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="FraudExplanation" type="xs:string"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="FraudRecommendation" type="xs:string"
				maxOccurs="1" minOccurs="0" />
			<xs:element name="AddressVerification" maxOccurs="1"
				minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AddressVerificationDescription"
				type="xs:string" maxOccurs="1" minOccurs="0" />
			<xs:element name="ChargebackEvents"
				type="ChargebackEvents" maxOccurs="1" minOccurs="0" />
			<xs:element name="PaymentInfos" type="PaymentInfos" />
			<xs:element name="CustomerInfo" type="CustomerInfo"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="ReconciliationIdentifiers"
				type="ReconciliationIdentifiers" />
		</xs:all>
	</xs:complexType>
	

	
	<xs:complexType name="PaymentNatureService">
		<xs:all>
			<xs:element name="SupportsRefunds">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true" />
						<xs:enumeration value="false" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupportsRelease">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true" />
						<xs:enumeration value="false" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupportsMultipleCaptures">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true" />
						<xs:enumeration value="false" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SupportsMultipleRefunds">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="true" />
						<xs:enumeration value="false" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:all>
		<xs:attribute name="name" type="xs:string" />
	</xs:complexType>
	
	<xs:complexType name="PaymentInfos">
		<xs:sequence>
			<xs:element name="PaymentInfo" type="PaymentInfo"  minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PaymentInfo">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="CustomerInfo">
		<xs:all>
			<xs:element name="UserAgent" type="xs:string" maxOccurs="1"
				minOccurs="0" />
			<xs:element name="IpAddress" type="xs:string" maxOccurs="1"
				minOccurs="0" />
			<xs:element name="Email" type="xs:string" maxOccurs="1"
				minOccurs="0">
			</xs:element>
			<xs:element name="Username" type="xs:string" maxOccurs="1"
				minOccurs="0">
			</xs:element>
			<xs:element name="CustomerPhone" type="xs:string"
				maxOccurs="1" minOccurs="0">
			</xs:element>
			<xs:element name="OrganisationNumber" type="xs:string" maxOccurs="1"
				minOccurs="0">
			</xs:element>
			<xs:element name="BillingAddress" type="CustomerInfoAddress" maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="ShippingAddress" type="CustomerInfoAddress" maxOccurs="1" minOccurs="0"></xs:element>
			<xs:element name="RegisteredAddress" type="CustomerInfoAddress" maxOccurs="1" minOccurs="0"></xs:element>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="ReconciliationIdentifiers">
		<xs:sequence>
			<xs:element name="ReconciliationIdentifier" type="ReconciliationIdentifier" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ReconciliationIdentifier">
		<xs:all>
			<xs:element name="Id" type="xs:string" />
			<xs:element name="Amount" type="AmountWithCurrency" />
			<xs:element name="Type" type="xs:string" />
			<xs:element name="Date" type="xs:string" />
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="AmountWithCurrency">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="currency">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="3" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="CreditCardExpiry">
		<xs:all>
			<xs:element name="Year" type="xs:int" />
			<xs:element name="Month" type="xs:int" />
		</xs:all>		
	</xs:complexType>

	<xs:complexType name="CustomerInfoAddress">
		<xs:sequence>
			<xs:element name="Firstname" type="xs:string"></xs:element>
			<xs:element name="Lastname" type="xs:string"></xs:element>
			<xs:element name="Address" type="xs:string"></xs:element>
			<xs:element name="City" type="xs:string"></xs:element>
			<xs:element name="Region" type="xs:string"></xs:element>
			<xs:element name="Country" type="xs:string"></xs:element>
			<xs:element name="PostalCode" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
